# P U B L I C
## APP 
#
DOMAIN="example.site"

# P R I V A T E
## APP
#
SECRET="secretWords&Numbers2"
DEV_ADDRESS="dero1qyvqpdftj8r6005xs20rnflakmwa5pdxg9vcjzdcuywq2t8skqhvwqglt6x0g"

## DERO

### IP
#
DERO_NODE_IP="127.0.0.1"
DERO_WALLET_IP="127.0.0.1"
DERO_SIMULATOR_NODE_IP="127.0.0.1"
DERO_SIMULATOR_WALLET_IP="127.0.0.1"

### PORT
#
DERO_NODE_PORT="10102"
DERO_WALLET_PORT="10103"
DERO_SIMULATOR_WALLET0_PORT="30000"
DERO_SIMULATOR_WALLET1_PORT="30001"
DERO_SIMULATOR_WALLET2_PORT="30002"

### AUTH
# 
DERO_WALLET_USER="secret"
DERO_WALLET_PASS="pass"

